body{
	margin: 0;
	padding: 0;
	background: #917afa;
	
}

.card{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 340px;
	height: 480px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 30px #000;
	overflow: hidden;			
}

.cover{
	position: relative;
	width: 100%;
	height: 160px;
	background: url(cover.jpg) no-repeat center /cover;
}

img{
	width: 120px;
	height: 120px;
	position: absolute;
	bottom: -60px;
	left: calc(50% - 60px);
	border-radius: 50%;
	box-shadow: 0 0 0 4px #fff;
}
img:hover {

	
	animation: shine 2s infinite;
	transform: scale(1.3);
  }


.card .content{
	width: 100%;
	height: calc(480px - 160px);
	padding: 0;
	text-align: center;
}
h1{
	margin-top: 70px;
	font-size: 28px;
	background: linear-gradient(red, rgb(2, 2, 24),blue);

  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
h1:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
	
  }
  

h5{
	font-size: 18px;
	background: linear-gradient(black,red);

  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h5:hover{
	transform: scale(1.1);
}
.icons{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3px 0;
}
.icons a{
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background: #ff3300;
	border-radius: 50%;
	color: #fff;
	transition: .3s;
}
.icons a:hover{
	background: #ff00bf;
}
button{
	width: 200px;
	margin: 25px auto;
	padding: 5px 0;
    font-size: 18px;
    font-family:"montserrat" ;
    cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
	outline: none;
	background: #6a07bb;
	color: rgb(255, 255, 255);
}
.button::before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#ffe53b;
	background-image: linear-gradient(347deg,#59f1e9 0%,#f1eeec 74%);
	z-index: -1;
	clip-path: circle(0% at 50% 100%);
	transition: all .8s;

}
.button:hover::before{
	clip-path: circle(100% at 50% 100%);
	
}

.leftBtn, .rightBtn{
	position: absolute;
	font-size: 24px;
	color: #fff;
	bottom: 10px;
	z-index: 2;
	transition: all .3s ease;
	opacity: 1;
}
.leftBtn{
	left: 10px;
}
.rightBtn{
	right: 10px;
}
.left-card,
.right-card{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 10px;
	transition: all .6s ease;
	overflow: hidden;
}
.left-card{
	background: #066e14;
	transform: rotate(-135deg);
	transform-origin: 80px 480px;
}
.right-card{
	background: #970b61;
	transform: rotate(135deg);
	transform-origin: 260px 480px;
}
.text{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	transition: all .6s ease;
	z-index: 2;
	top: 280px;
	opacity: 0;
}
p{
	padding: 20px;
}
.left .left-card{
	transform: rotate(0deg);
	z-index: 1;
}
.left .left-card .text{
	opacity: 1;
	top: 0;
	transition-delay: .3s;
}
.left .rightBtn{
	z-index: -1;
}

.right .right-card{
	transform: rotate(0deg);
	z-index: 1;
}
.right .right-card .text{
	opacity: 1;
	top: 0;
	transition-delay: .3s;
}
.right .leftBtn{
	z-index: -1;
}
